<!DOCTYPE html>
<html lang="en">
  <header><%- include('layout/header'); %></header>

  <body class="container">
    <main>
      <div class="jumbotron">
        <% if(form == 1){ %>
        <h3>Change Password</h3>
        <form action="" method="post">
          <div class="form-group">
            <label for="pwd">Email:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Enter Email"
              name="email"
            />
          </div>
          <div class="form-group">
            <label for="pwd">New Password:</label>
            <input
              type="password"
              class="form-control"
              id="pwd"
              placeholder="New password"
              name="password"
            />
          </div>
          <div class="form-group">
            <label for="pwd">Confirm Password:</label>
            <input
              type="password"
              class="form-control"
              id="pwd"
              placeholder="Confirm password"
              name="confirm_password"
            />
          </div>

          <button type="submit" class="btn btn-success">Submit</button>
        </form>

        <% } else{ %>
        <h1>Link Expired / Invalid</h1>
        <% } %>
      </div>
    </main>

    <footer><%- include('layout/footer'); %></footer>
  </body>
</html>
